<a href="https://colab.research.google.com/github/RushiKawade/NumpyAndPandas/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
#Series = similar to numpy array and built on top of numpy array
  pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [0]:
f={}
F=pd.Series(d)

In [8]:
F

a    10
b    20
c    30
dtype: int64

In [0]:
#dataFrames
from numpy.random import randn
#to get same random number every time
np.random.seed(101)
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [10]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [11]:
df['y']

a    0.907969
b   -0.848077
c    0.528813
d   -0.933237
e    2.605967
Name: y, dtype: float64

In [12]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [0]:
df['new']= df['x'] + df['z']

In [14]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.131958
b  0.651118 -0.319318 -0.848077  0.605965  0.286647
c -2.018168  0.740122  0.528813 -0.589001  0.151122
d  0.188695 -0.758872 -0.933237  0.955057  0.196184
e  0.190794  1.978757  2.605967  0.683509  2.662266

In [15]:
# axis = 0  -->row
# axis = 1  -->column
# drop changes are not permanent
df.drop('y',axis=1)

          w         x         z       new
a  2.706850  0.628133  0.503826  1.131958
b  0.651118 -0.319318  0.605965  0.286647
c -2.018168  0.740122 -0.589001  0.151122
d  0.188695 -0.758872  0.955057  0.196184
e  0.190794  1.978757  0.683509  2.662266

In [16]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.131958
b  0.651118 -0.319318 -0.848077  0.605965  0.286647
c -2.018168  0.740122  0.528813 -0.589001  0.151122
d  0.188695 -0.758872 -0.933237  0.955057  0.196184
e  0.190794  1.978757  2.605967  0.683509  2.662266

In [17]:
#select rows
df.loc['a']

w      2.706850
x      0.628133
y      0.907969
z      0.503826
new    1.131958
Name: a, dtype: float64

In [18]:
#select row by number
df.iloc[0]

w      2.706850
x      0.628133
y      0.907969
z      0.503826
new    1.131958
Name: a, dtype: float64

In [19]:
df.loc['a','y']

0.9079694464765431

In [0]:
# inplace =True to permenently drop the columns or rows 
df.drop('new', axis=1,inplace=True)

In [21]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [22]:
df.drop('e')

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [23]:
df.loc[['a','b'],['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318

In [24]:
df > 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [25]:
# return only rows whose w column value is > 0
df[df['w']>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [26]:
# since result is dataframe we can perform any df operation like column selection on top of that.
df[df['w']>0]['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [27]:
# to check multiple condition we can use and but it give error becouse it is meant to work with only 2 values like True and True not with series of values. Use & 
f[(df['w']>0) & (df['y']<0)]

          w         x         y         z
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057

In [29]:
df[(df['w']>0) | (df['y']<0)]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [0]:
# split method to split string at blank places.
newIdx = 'CA YG HJ Lk gl '.split()

In [33]:
newIdx

['CA', 'YG', 'HJ', 'Lk', 'gl']

In [0]:
df['str'] = newIdx

In [35]:
df

          w         x         y         z str
a  2.706850  0.628133  0.907969  0.503826  CA
b  0.651118 -0.319318 -0.848077  0.605965  YG
c -2.018168  0.740122  0.528813 -0.589001  HJ
d  0.188695 -0.758872 -0.933237  0.955057  Lk
e  0.190794  1.978757  2.605967  0.683509  gl